body {
    font-family: 'Yantramanav', sans-serif;
}

header {
    font-weight: 400;
}

h1 {
    margin-top: 20px;
    font-size: 31px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;

}

h3 {
    font-size: 18px;
    font-weight: 900;
}

h4 {
    font-size: 14px;
    color: #5b6987;
    margin:0;
    margin-bottom: 50px;
}

h5 {
    color: white;
    font-size: 14px;
}

h1 ~ p, h2 ~ p,
.col-sm-8 p,
.col-md-8 p {
    font-size: 24px;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid rgb(229,232,237);
    min-height: 40px;
    border-radius: 0;
}

.navbar-default {
    background-color: white;
}

.navbar-default.viewnav  .navbar-nav>li>a {
    color: #031b4f;
    padding-top: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    padding: 10px 12px;
}

.hidenav {
    display: none;
}

.hidenav span {
    font-size: 16px;
    background-color: rgb(0,215,210);
    color: rgb(3,27,78);
    line-height: 1px;
    vertical-align: middle;
    border-radius: 5px;
    padding: 4px 9px;
    font-size: 9px;
    margin-right: 10px;
}

.city-span,
.hidenav p {
    font-size: 14px;
    color: #5b6987;
    margin-bottom: 0;
}

#logo {
    padding: 3px 0;
}

.viewnav {
    padding: 5px 30px 7px;
}

.navbar-brand {
    padding: 10px 30px;
    height: auto;
}

.navbar-brand>img {
    height: 28px;
    margin: 9px 0;
}

.viewnav .navbar-brand {
    padding: 7px 12px 7px 30px;
}

/* bottoni */
.in-button,
#in-button {
    background-color: transparent;
    border-color: #006aff;
    color: #006aff;
    padding: 5px 10px;
    margin-top: 14px;
}

.up-button,
#up-button {
    background-color: #006aff;
    border-color: transparent;
    color: #fff;
    padding: 5px 10px;
    margin-top: 14px;
    margin-left: 10px;
}


.goog-btn,
.git-btn {
    width: 52px;
    height: 48px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 38px;
    margin-top: 0;
    max-width: 19%;

}

.goog-btn {
    width: 245px;
    max-width: 79%;
}
.large-btn {
    width: 306px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 50px;
    font-weight: 900;
    width: 100%;
}

section, footer {
    padding: 60px 0;
}

#jumbotron {
    padding-bottom: 20px;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position-x: center;
}

.flash {
    color: white;
}

.logcard {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 7px;
    max-width: 370px;
    height: 469px;
}

 .logcard h3 {
     color: #031b4e;
     background-color: #f3f5f9;
     padding: 22px 12px;
     border-radius: 7px 7px 0 0;
     margin-bottom: 0;
 }

.flash .col-xs-12.col-md-5.text-center {
    padding-right: 0;
    padding-left: 0;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    height: 48px;
    margin-bottom: 8px;
}

.form-belly {
    padding: 32px;
}

.form-horizontal {
    border-bottom: 1px solid #f3f5f9;
}



.smoky {
    background-color: #f3f5f9;
}


.endinglink {
    margin-top: 20px;
}

.navy {
    color: #031b4e;
}
.navy h2+p {
    color: #5b6987;
    padding-bottom: 70px;
}

#deploy a {
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 2px solid lightgrey;
}

a#markup {
    border-bottom: 2px solid blue;
    display: inline-block;

}

.deploy-menu {
    max-width: 100%;
    overflow: auto;
    display: flex;
}

#design .center-block {
    width: 80%
}

#design a, #teams a {
    height: 10px;
    width: 10px;
    border: 1px solid blue;
    border-radius: 50%;
    color: blue;
    display: inline-block;
    margin-top: 40px;
}

#design a:first-of-type {
    background-color: blue;
}
#teams a:first-of-type {
    background-color: blue;
}

.slogan {
    font-size: 18px;
    margin-top: 40px;
    padding: 0 20%;
}


#world {
    background-color: #031b4e;
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
    color: white;
}

.linegrid {
    border-bottom: 1px solid #ffffff33;
    margin: 0 5px;
    height: 39px;
    padding-top: 10px;
line-height: 13px;
}

.linegrid .col-xs-3 {
    padding-left: 0px;
    padding-right: 0px;
}


.route {
    margin-top: 60px;
}

.city-span {
    font-weight: 900;
}

.team-card {
    background-color: white;
    padding: 64px;
    width: 85%;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
}

.team-card img {
    max-height: 29px;
    margin-bottom: 30px;
    max-width: 100%;
}

#action {
    background-color: blue;
    color: white;
}

#action .goog-btn {
    color: blue;
    font-size: 18px;
    padding: 30px;
    line-height: 0px;
}

footer a {

    display: block;
}
.eveny {
        background-color: #010e28;

}

footer .fab {
    line-height: 50px;
    color:#ffffff80;
    font-size: 20px;
}
footer span,
footer a {
    color:#ffffff80;
}

.foot-top div {

}


.foot-top {
    border-bottom: 1px solid #ffffff80;
    margin-bottom: 50px;
    padding-bottom: 20px;
}


@media screen and (min-width: 490px) and (max-width: 767px) {

    .deploy-menu {
        display: table;
    }
}


@media screen and (min-width: 768px) {

    h3+p {
        text-align: left;
    }
    #deploy .card {
        text-align: left;
    }

    #deploy a {
        border-bottom: 0;
        border-left: 2px solid lightgrey;
    }

    a#markup {
        border-bottom: 0;
        border-left: 2px solid blue;

    }

    .deploy-menu {
        text-align: left;
        max-width: 100%;
        overflow: auto;
        display: grid;
    }


    h1 {
        font-size: 70px;
        font-weight: 900;
    }

    #jumbotron {
        height: 976px;
    }


    .navbar-toggle {
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 30px;
    }

    .navbar-collapse.collapse {
        display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navy h2+p {
        margin: 0 10%;
    }

}

@media screen and (min-width: 992px) {

    .flash .col-xs-12.col-md-5 {
        text-align: right;
    }
    .flash .col-xs-12.col-md-7 {
        text-align: left;
    }


    .card {
        text-align: left;
    }

    .logcard {
        margin:auto;
        margin-top: 200px;
        margin-bottom: 20px;

    }
    h1 {
        margin-top: 280px;
    }

    h1, h1+p {
        text-align: left;
    }

    #jumbotron {
        height: 800px;
}

@media screen and (min-width: 1024px) {

    .arrows img {
        display: inline-block;
    }


    .arrows::after {
        font-family: "Font Awesome 5 Free";
        content: "\f061";
        font-weight: 900;
        color: black;
        font-size:20px;
        display: inline;
        margin-left: 30px;
    }
    .arrows::before {
        font-family: "Font Awesome 5 Free";
        content: "\f060";
        font-weight: 900;
        color: black;
        font-size: 20px;
        display: inline;
        margin-right: 30px;

    }

    header {
        width: 100%;
        display: block;
        position: fixed;
        top: 0;
        z-index: 20000;

    }

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }


    .navbar-toggle {
        display: none;
        }

    .hidenav {
        display: block;
    }

    main {
        margin-top: 106px;
    }

}
